<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Images</title>
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>
    <div style="height:56px;"></div>
    <h1>Your Images</h1>

    <% if (currentUserId.toString() === viewedUserId.toString()) { %>
      <div class="center-add-image">
        <a href="/images/new">
          <button>Add an Image</button>
        </a>
      </div>
    <% } %>

    <ul>
  <% images.forEach((image)=>{ %>
  <a href="/images/<%= image._id %>">
          <li><%= image.title %>
        </a>
      <% }) %>
    </ul>
  </body>
</html>
