<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a new image</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a new image</h1>

  <form action="/images" method="POST">

      <label for="title">Title:</label>
      <input type="text" name="title" id="title" />

      <label for="description">Description:</label>
      <textarea name="description" id="description"></textarea>

      <label for="category">Category:</label>
      <select id="category" name="category">
        <option value="personal">Personal</option>
        <option value="professional">Professional</option>
        <option value="art">Art</option>
        <option value="meme">Meme</option>
      </select>

      <button type="submit">Add Image</button>
    </form>
  </body>
</html>
