<!-- views/partials/_navbar.ejs -->

<nav>
  <% if(user) { %>
  <a id="your-images" href="/images">Your Images</a>
  <a id="sign-out" href="/auth/sign-out">Sign Out</a>
  <% } else { %>
  <a id="sign-in" href="/auth/sign-in">Sign In</a>
  <a id="sign-up" href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>
