<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stoct</title>
</head>

<body>
  <%- include("./partials/_navbar.ejs") %>
  <div style="height:56px;"></div>


      <h1 class="home-title">Stoct - An image solution.
        
      </h1>
<p style="text-align:center;"><img src="/images/—Pngtree—folder vector icon_3730758.png" style="max-width:400px; max-height:400px; width:100%; height:auto;"></p>

    </body>

</html>