<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profiles</title>
</head>
<body>
    <h1>User Profiles</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <a href="/images?userId=<%= user._id %>"><%= user.username %></a>
            </li>
        <% }); %>
    </ul>
</body>
</html>